body {
    background-color: hsl(148, 38%, 91%);
     font-family: "Karla", sans-serif;
}

#info {
    background-color: white;
    padding: 6;
    margin: 20px auto;
    border-radius: 10%;
    width: 800px;
    height: 900px;
    position: center center;
}

h1{
    margin-top: 50px;
    padding-left: 50px;
}

.myForm{
    padding-left: 60px;
}

.start {
    padding: 6;
    width: 90px;;
    margin:0 44%  auto;
}